<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body style="font-family: Montserrat;" class="text-white w-[100wh] h-[100vh] bg-zinc-900 px-10 py-10 font relative">
  <% if(success.length>0){ %>
    <div
      class="bg-green-500 text-zinc-200 left-[40%] top-0 absolute text-sm font-light px-2 py-2 rounded-sm transition">
      <h1>
        <%= success %>
      </h1>
    </div>
    <%} %>

      <div class="flex">
        <aside class="w-[350px] min-w-[200px] border-r-[1px] border-zinc-700">
          <div class="mb-20">
            <a href="" class="block mb-4 hover:text-zinc-400">All Products</a>
            <a href="" class="block mb-4 hover:text-zinc-400">Create New Products</a>
          </div>
        </aside>
        <div class="ml-20 h-full mb-4">
          <h1 class="text-3xl font-semibold mb-4">Create New Product</h1>
          <h1 class="text-2xl mb-4">Product Details</h1>

          <form method="post" enctype="multipart/form-data" action="/products/create">
            <label class="mb-2 inline-block font-semibold" for="image">Product Image</label>
            <input type="file" name="image" class="block mb-4">
            <input class="bg-transparent bg-zinc-600 rounded-md px-3 py-2 min-w-1/3 w-[350px] outline-none mb-2"
              placeholder="Product Name" type="text" name="name">
            <input class="bg-transparent bg-zinc-600
        w-[350px] rounded-md px-3 py-2 min-w-1/3 outline-none mb-2" placeholder="Product Price" type="text"
              name="price">
            <input class="bg-transparent w-[350px] bg-zinc-600 rounded-md px-3 py-2 min-w-1/3 outline-none mb-4"
              placeholder="Discount" type="text" name="discount">
            <label class="mb-4 block font-semibold" for="panel">Panel Details</label>
            <input class="bg-transparent bg-zinc-600 rounded-md px-3 py-2 min-w-1/3 w-[350px] outline-none mb-2"
              placeholder="Background Color" type="text" name="bgcolor">
            <input class="bg-transparent bg-zinc-600
        w-[350px] rounded-md px-3 py-2 min-w-1/3 outline-none mb-2" placeholder="Panel Color" type="text"
              name="panelcolor">
            <input class="bg-transparent w-[350px] bg-zinc-600 rounded-md px-3 py-2 min-w-1/3 outline-none mb-2"
              placeholder="Text Color" type="text" name="textcolor">
            <input class="bg-blue-600 rounded-sm px-3 py-2 w-auto outline-none block" type="submit"
              value="Create New Product">
          </form>

        </div>

      </div>
      </div>



</body>

</html>